 @model BooksListViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var book in Model.Books)
    {
        <div>
            <h2>@book.Name</h2>
            <h3>@book.Price.ToString("\u20AC0.00")</h3>
            <h4>@book.Category.CategoryName</h4>
        </div>
    }
